<!-- pkg_tour/views/_footer.ejs -->
<footer>
    <!-- Shortest way to print current year in a website -->
    <div>
        &copy;<script>document.write(new Date().getFullYear());</script>, Global Ventures.
    </div>
</footer>

