<!-- pkg_tour/views/about.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <%- include("_stylesheet") -%>
</head>
<body>
    <div class="container">
        <%- include("_navbar") -%>
        <h1>Dándote la bienvenida en vacaciones</h1>
        <p>
            Sabemos que el tiempo es oro, que las experiencias de viaje pueden sacarnos de la rutina y, por sobre todo, estamos aquí para brindarle unas vacaciones brillantes e inolvidables.<br>

            Con más de 50 países, seis rangos cuidadosamente seleccionados que incluyen cientos de tours, vinculación financiera total y creciendo cada día: hay muchas razones para viajar con nosotros y esperamos inspirar su próxima aventura y darle la bienvenida pronto en sus vacaciones.<br><br>

            ¡Viaja feliz!<br><br>

            Renata Sarasti<br>
            CEO<br>
            Global Adventures<br>                  
        </p>
        <%- include("_footer") -%>
    </div>
</body>
</html>