<!-- view_product_has_been_removed.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>view_product_has_been_removed.ejs</title>
    <%- include("_stylesheet") -%>
</head>
<body>
    <div class="container">
        <%- include("_navbar") -%>
        <h1>El producto ha sido eliminado - view_product_has_been_removed.ejs</h1>
        <a href="/listar_productos" class="link-primary">Continuar</a>
        <%- include("_footer") -%>
    </div>
</body>
</html>