<!-- view_libro_no_encontrado.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>view_libro_no_encontrado.ejs</title>
    <%- include("_stylesheet") -%>
</head>
<body>
    <div class="container">
        <%- include("_navbar") -%>
        <h1>El libro no ha sido encontrado - view_libro_no_encontrado.ejs</h1>
        <a href="/listar_libros" class="link-primary">Continuar</a>
        <%- include("_footer") -%>
    </div>
</body>
</html>